@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
* {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
    font-family: myfirstfont;
    src: url(Abuget.ttf);
  }
.main-body {
  width: 100%;
  height: 100vh;
  background: url("bg2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 6.25rem;
  background-attachment: fixed;
  box-shadow: 0 15rem 15rem -15rem rgba(19, 19, 19, 0.61) inset,
    15rem 0 12rem -15rem rgba(19, 19, 19, 0.466) inset,
    -15rem 0 12rem -15rem rgba(19, 19, 19, 0.507) inset;
}
.main-body::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background:rgba(0, 0, 0, 0.514);
  background-repeat: no-repeat;

  background-size: cover;
}

/* ustomized font */

/* section 1 */
.container {
 height: 65vh;
 position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}


.nav_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


.icon {
  font-size: 3rem;
  text-decoration: none;
  color: #fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar .links {
  font-size: 1.4rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.904);
  margin: 0 1.5rem;
  font-family: 'Montserrat', sans-serif;
  /* font-family: myfirstfont; */
  font-weight: 600;
}
.navbar .active{
  color:#fff;
  padding-bottom: 0.7rem;
  border-bottom: solid 0.3rem #fff ;
}
.main_container{
 position: relative;
}


.main{
    display: flex;
    align-items: baseline;
    position: absolute;
    /* background-color: rgb(255, 0, 0); */
    transform: translate(-40%,-130%);
    /* margin-left: 13rem; */
}

.heading, .sub_heading
{
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
}

.heading{
    font-size: 12rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5rem;
    text-shadow: 1rem 1rem 1rem rgba(1, 34, 11, 0.356);

}

.sub_heading{
    font-size: 19rem;
    font-family: myfirstfont;
    position: absolute;
    font-weight: lighter;
    top: -15rem;
    left: -7rem;

}

.social_links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 5rem;
    position: absolute;
    transform: translateY(-100%);
    z-index: 10;
}

.fab{
    margin-top: 3rem;
    color: #fff;
    font-size: 2rem;
}




.blur{
  width:40rem;
  height:20rem;
  background:inherit;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.39);
  display:inline-block ;
  margin: 5rem 2rem 0;

  position:relative;
  overflow:hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 10;
}
.blur::before{
  content:"";
  background: inherit;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  /* box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.2); */
  filter: blur(10px) brightness(0.8);
  margin:-15px;
}
.blur-1{
  margin-left: 6rem;

}
.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  padding: 3rem;
}
.title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.title h3{
 color: #fff;
 font-size: 1.4rem;
 margin-left: 1.5rem;
 font-family: 'Montserrat', sans-serif;
 text-transform: uppercase;
 letter-spacing: 0.5rem;
}
.fas{
  color: #fff;
  z-index: 30;
}
 p{
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.781);
  padding: 2rem 0;
  overflow: hidden;
  height: min-content;
  line-height: 2.5rem;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}



/* end of section 1 */
